<% js_file 'confirm' %>

<div id="container" class="no-reconfirm">
  <p>You are about to update your preferences for <i><%= @user.email %></i> on the Discourse Hub.
    Review the changes below. Don't worry - we haven't done anything yet.</p>

  <p>If there's anything here that you don't want to be public, click on the <button class="btn in-list">-</button> to the left.</p>

  <%= changed_list(@user, params) %>

  <p>
  <span class="needs-no-reconfirm">If this is all okay, click Submit.</span>
  <span class="needs-reconfirm">Please review your changes.</span>
  </p>

  <form id="form" action="404" method="post">
    <%= filled_form_inputs(params) %>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

    <button class="btn btn-primary needs-no-reconfirm" formaction="perform">Submit</button>
    <button class="btn btn-primary needs-reconfirm" formaction="confirm">Review Changes</button>
  </form>
</div>
